body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f880;
    color: #070707;
    margin: 0;
    padding: 0;
  }
  
h2 {
    color: #000000eb;
}

  h1 {
    color: #000000eb;
  }
  
  p {
    font-size: 20px;
    color: #340096eb;
}
.chapter1 {
  background-color: rgb(255, 98, 80); /* Set the background color of the div */
  color: white; /* Set the text color */
  border: 3px solid #333333;
  padding: 10.5px;
  margin: 10.5px;
}

.chapter2 {
    background-color: rgb(80, 205, 255); /* Set the background color of the div */
    color: white; /* Set the text color */
    border: 3px solid #333;
    padding: 10.5px;
    margin: 10.5px;
}

#cid_1 {
  background-color: rgb(255, 229, 80); /* Set the background color of the div */
  color: white; /* Set the text color */
  border: 5px solid #333333;
  padding: 10px;
  margin: 10px;
}

article p {
  background-color: rgb(80, 255, 83); /* Set the background color of the div */
  color: white; /* Set the text color */
  border: 3px solid #333;
  padding: 10.5px;
  margin: 10.5px;
}

ul > li {
  background-color: rgb(80, 255, 83); /* Set the background color of the div */
  color: green; /* Set the text color */
  border: 3px solid #333;
  padding: 10.5px;
  margin: 10.5px;
}

a:hover{
  text-decoration: underline;
}
  /* Additional styles can be added based on your design preferences */
  