body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f880;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #000000eb;
  }
  
  p {
    font-size: 20px;
    color: #340096eb;
  }
  
  /* Additional styles can be added based on your design preferences */
  