<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="login" method="post">
        {% csrf_token %}
     <label>
        <h3>Username</h3>
        <input type="text" placeholder="Enter your username" name="username">
     </label>
     <label>
        <h1>Password</h1>
        <input type="password" placeholder="Enter your password" name="password">
     </label><br>
     <input type="submit">  
    </form>
</body>
</html>